### IJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.dump

target/
        <configuration>
                                    <source>1.8</source>
                                    <target>1.8</target>
                                    <encoding>UTF-8</encoding>
                                </configuration>